<h1> About Super Rentals </h1>

<h2> This Webiste was created to explore Ember.js. </h2>


{{#link-to 'contact'}} Click here to CONTACT us. {{/link-to}}
<br>
<br>
{{#link-to 'index'}} Click here to RETURN HOME {{/link-to}}



{{outlet}}
