<h1> Super Rentals Representatives would love to help you choose a destination: </h1>

<h1> contact us today at:
  Super Rentals Hq <br>
  1212 Test blah blah road <br>
  Test, Or 90244
</h1>

<h1>
  440-224-5522
</h1>

<h1>
  Supprereantsl@gmail.com
</h1>

{{#link-to 'about'}} Click here to go to our ABOUT page. {{/link-to}}
<br>
<br>
{{#link-to 'index'}} Click here to go to RETURN HOME {{/link-to}}

{{outlet}}
